form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form p {
    font-style: normal !important;
    margin-block: 0;
    text-align: right !important;
    color: var(--color-black) !important;
  }

form input {
    padding: 10px;
    font-size: 18px;
}

form input:focus {
    border-style: solid;
    border-color: var(--color-green);
}

.submit-button {
    padding: 15px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    background-color: var(--color-green);
    border: 0;
    border-radius: 7px;
  }
  
  
  .submit-button:focus {
    background-color: var(--color-blue);
    border: none !important;
  }